### JetBrains
.idea/

### VSCode
.vscode/

### macOS
.DS_Store

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Project specific
scripts_json/
data/
examples/outputs

### Rust
**/target/

### Latex
*.aux
*.bbl
*.blg
*.log
*.pdf
*.out
*.synctex.gz
*.toc